@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

/* backgroud */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.background img {
  height: 100%;
  width: 100%;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 70px
}

header .hamburger {
  font-size: 30px;
  color: #fff;
  margin-right: 100px;
  cursor: pointer;
}
 
/* main */
main.main {
  margin-top: 90px;
  padding: 50px 70px;
}

main h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 120%;
  color: #fff;
  letter-spacing: 2.2px;
  margin-bottom: 0px;

  position: relative;
  letter-spacing: 2.5px;

  width: 45%;
}

main h6 {
  margin-top: 40px;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: .7px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
}

main p {
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.7px;
  color: #fff;
  margin-bottom: 25px;
  font-weight: 400;
}

main .down {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 40px 100px 60px;
  width: 100%;
}

main .down button.btn {
  background-color: transparent;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-transform: capitalize;
  border: 0.7px solid #fff;
  padding: 15px;
  padding-right: 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

main .down button.btn i {
  margin-right: 12px;
}

main .down::before {
  content: "";
  position: absolute;
  top: 44%;
  left: 0;
  width: 100px;
  height: .7px;
  z-index: -1;
  background-color: #fff;
}

main .down::after {
  content: "";
  position: absolute;
  top: 44%;
  left: 300px;
  height: .7px;
  width: 78.3%;
  background-color: #fff;
  z-index: -1;
}

main .down span.dot {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: calc(44% - 5px);
}

main .down span.dot.one {
  right: 10%;
}

main .down span.dot.two {
right: 20%;
}

main .down span.dot.three {
right: 35%;
}

main .progress {
  position: fixed;
  top: 40px;
  right: 40px;
}

main .progress .circle {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 80px;
  height: 80px;
}

main .progress .circle svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
}

main .progress .circle svg.full circle {
  stroke: transparent;
}

main .progress .circle svg.fill {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

main .progress .circle svg.fill circle {
  stroke: #fff;
}

main .progress .percentage {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  line-height: 36px;
  font-weight: 400;
  font-size: 26px;
  color: #fff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

main span.msg {
  font-size: 12px;
  position: absolute;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-text-orientation: mixed;
  letter-spacing: 9px;
  color: #fff;
  top: 30%;
  right: 50px;
}

main span.msg i {
  font-size: 22px;
}

/* aside */
aside {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 320px;
  width: 100%;
  height: 100vh;
  z-index: 999;
  padding: 0 50px 0;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: transform .7s ease;
  -webkit-transition: transform .7s ease;
  -moz-transition: transform .7s ease;
  -ms-transition: transform .7s ease;
  -o-transition: transform .7s ease;
}

aside.show {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

aside .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

aside .aside-menu {
  list-style: none;
  padding-top: 100px;
}

aside .aside-menu .aside-menu-item {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  box-sizing: border-box;
  letter-spacing: 2px;
  width: max-content;
  position: relative;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

aside .aside-menu .aside-menu-item:not(:last-child) {
  margin-bottom: 50px;
}

aside .aside-menu .aside-menu-item::before {
  content: '';
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  position: absolute;
  background-color: #fff;
  transition: width 1s ease;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -ms-transition: width 1s ease;
  -o-transition: width 1s ease;
}

aside .aside-menu .aside-menu-item:hover::before {
  width: 100%;
}

aside .aside-menu .aside-menu-item a {
  text-decoration: none;
  color: inherit;
}

aside ul.social-list {
  list-style: none;
  position: absolute;
  bottom: 30px;
  left: 40px;
}

aside ul.social-list li.social-item {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 4px;
}

aside ul.social-list li.social-item:not(:last-child) {
  margin-right: 30px;
}

aside ul.social-list li.social-item a {
  color: #fff;
  text-decoration: none;
}